:root {
  --s: 4s;
  --d: 40;
  --c: #47facd;
}

* {
  transform-style: preserve-3d;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000vmin;
  background: black;
}

.square {
  width: 50vmin;
  height: 50vmin;
  position: relative;
  animation: spin 5s linear 0s infinite;
  animation-play-state: running;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: none;
}

.square div {
  --sz: 23%;
  --dv: calc(var(--s) / var(--d));
  --dl: calc(--dv) * -1;
  width: var(--sz);
  height: var(--sz);
  position: absolute;
  border-radius: 40%;
  border: 0.25vmin solid var(--c);
  transform: rotateX(90deg) translateZ(24.5vmin);
  animation: shine var(--s) linear var(--dl) infinite reverse;
}

.square div::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  border: 0.25vmin solid var(--c);
  border-radius: 40%;
  box-shadow: 0 0 0.1vmin 0.5vmin var(--c), 0 0 0.1vmin 0.1vmin var(--c) inset;
  animation: shine var(--s) linear calc(var(--dl) * -1) infinite reverse;
}

.square div:nth-child(2) {
  transform: rotateX(90deg) translateZ(22.5vmin);
  --sz: 43%;
  --dl: calc(var(--dv) * -2);
  filter: hue-rotate(-2deg);
}

.square div:nth-child(3) {
  transform: rotateX(90deg) translateZ(20vmin);
  --sz: 60%;
  --dl: calc(var(--dv) * -3);
  filter: hue-rotate(-4deg);
}

.square div:nth-child(4) {
  transform: rotateX(90deg) translateZ(17.5vmin);
  --sz: 71%;
  --dl: calc(var(--dv) * -4);
  filter: hue-rotate(-6deg);
}

.square div:nth-child(5) {
  transform: rotateX(90deg) translateZ(15vmin);
  --sz: 80%;
  --dl: calc(var(--dv) * -5);
  filter: hue-rotate(-8deg);
}

.square div:nth-child(6) {
  transform: rotateX(90deg) translateZ(12.5vmin);
  --sz: 86%;
  --dl: calc(var(--dv) * -6);
  filter: hue-rotate(-10deg);
}

.square div:nth-child(7) {
  transform: rotateX(90deg) translateZ(10vmin);
  --sz: 91%;
  --dl: calc(var(--dv) * -7);
  filter: hue-rotate(-12deg);
}

.square div:nth-child(8) {
  transform: rotateX(90deg) translateZ(7.5vmin);
  --sz: 95%;
  --dl: calc(var(--dv) * -8);
  filter: hue-rotate(-14deg);
}

.square div:nth-child(9) {
  transform: rotateX(90deg) translateZ(5vmin);
  --sz: 97%;
  --dl: calc(var(--dv) * -9);
  filter: hue-rotate(-16deg);
}

.square div:nth-child(10) {
  transform: rotateX(90deg) translateZ(2.5vmin);
  --sz: 99%;
  --dl: calc(var(--dv) * -10);
  filter: hue-rotate(-18deg);
}

.square div:nth-child(11) {
  transform: rotateX(90deg);
  --sz: 100%;
  --dl: calc(var(--dv) * -11);
  filter: hue-rotate(-20deg);
}

.square div:nth-child(12) {
  transform: rotateX(90deg) translateZ(-2.5vmin);
  --sz: 99%;
  --dl: calc(var(--dv) * -12);
  filter: hue-rotate(-22deg);
}

.square div:nth-child(13) {
  transform: rotateX(90deg) translateZ(-5vmin);
  --sz: 97%;
  --dl: calc(var(--dv) * -13);
  filter: hue-rotate(-24deg);
}

.square div:nth-child(14) {
  transform: rotateX(90deg) translateZ(-7.5vmin);
  --sz: 95%;
  --dl: calc(var(--dv) * -14);
  filter: hue-rotate(-26deg);
}

.square div:nth-child(15) {
  transform: rotateX(90deg) translateZ(-10vmin);
  --sz: 91%;
  --dl: calc(var(--dv) * -15);
  filter: hue-rotate(-28deg);
}

.square div:nth-child(16) {
  transform: rotateX(90deg) translateZ(-12.5vmin);
  --sz: 86%;
  --dl: calc(var(--dv) * -16);
  filter: hue-rotate(-30deg);
}

.square div:nth-child(17) {
  transform: rotateX(90deg) translateZ(-15vmin);
  --sz: 80%;
  --dl: calc(var(--dv) * -17);
  filter: hue-rotate(-32deg);
}

.square div:nth-child(18) {
  transform: rotateX(90deg) translateZ(-17.5vmin);
  --sz: 71%;
  --dl: calc(var(--dv) * -18);
  filter: hue-rotate(-34deg);
}

.square div:nth-child(19) {
  transform: rotateX(90deg) translateZ(-20vmin);
  --sz: 60%;
  --dl: calc(var(--dv) * -19);
  filter: hue-rotate(-36deg);
}

.square div:nth-child(20) {
  transform: rotateX(90deg) translateZ(-22.5vmin);
  --sz: 43%;
  --dl: calc(var(--dv) * -20);
  filter: hue-rotate(-38deg);
}

.square div:nth-child(21) {
  transform: rotateX(90deg) translateZ(-24.5vmin);
  --sz: 23%;
  --dl: calc(var(--dv) * -21);
  filter: hue-rotate(-40deg);
}

@keyframes spin {
  0% { transform: rotateX(-50deg) rotateY(0deg) rotateZ(185deg); }
  100% { transform: rotateX(-50deg) rotateY(360deg) rotateZ(185deg); }
}

@keyframes shine {
  33%, 100% {
    border-color: #10101000;
    filter: hue-rotate(360deg);
    box-shadow: 0 0 1px 1px #00000000, 0 0 1px 1px #00000000 inset;
  }
}